interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0002-1825-0097/works
  response:
    body: {string: !!python/unicode
    '{"group": [{"external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                                     "external-id-type": "doi",
                                                     "external-id-url": {"value": "http://dx.doi.org/10.1016/0029-5582(61)90469-2"},
                                                     "external-id-value": "10.1016/0029-5582(61)90469-2"}]},
                 "last-modified-date": {"value": 1519143190177},
                 "work-summary": [{"created-date": {"value": 1508427576466},
                                    "display-index": "1",
                                    "external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                                                        "external-id-type": "doi",
                                                                        "external-id-url": {"value": "http://dx.doi.org/10.1016/0029-5582(61)90469-2"},
                                                                        "external-id-value": "10.1016/0029-5582(61)90469-2"}]},
                                    "last-modified-date": {"value": 1519143190177},
                                    "path": "/0000-0002-1825-0097/work/912981",
                                    "publication-date": {"day": null,
                                                          "media-type": null,
                                                          "month": null,
                                                          "year": {"value": "1961"}},
                                    "put-code": 912981,
                                    "source": {"source-client-id": null,
                                                "source-name": {"value": "inspire010"},
                                                "source-orcid": {"host": "sandbox.orcid.org",
                                                                  "path": "0000-0002-1825-0097",
                                                                  "uri": "http://sandbox.orcid.org/0000-0002-1825-0097"}},
                                    "title": {"subtitle": null,
                                               "title": {"value": "Partial Symmetries of Weak Interactions"},
                                               "translated-title": null},
                                    "type": "JOURNAL_ARTICLE",
                                    "visibility": "PUBLIC"},
                                   {"created-date": {"value": 1516716146242},
                                    "display-index": "0",
                                    "external-ids": {"external-id": [{"external-id-relationship": "SELF",
                                                                        "external-id-type": "doi",
                                                                        "external-id-url": {"value": "http://dx.doi.org/10.1016/0029-5582(61)90469-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0002-1825-0097/works/912978,912977,912979
  response:
    body: {string: !!python/unicode
    '{
      "bulk": [
        {
          "work": {
            "language-code": null,
            "put-code": 912978,
            "contributors": {
              "contributor": [
                {
                  "contributor-orcid": null,
                  "contributor-attributes": {
                    "contributor-role": "AUTHOR",
                    "contributor-sequence": "FIRST"
                  },
                  "credit-name": {
                    "value": "Glashow, S.L."
                  },
                  "contributor-email": null
                }
              ]
            },
            "title": {
              "translated-title": null,
              "subtitle": null,
              "title": {
                "value": "Partial Symmetries of Weak Interactions"
              }
            },
            "url": {
              "value": "http://labs.inspirehep.net/record/4328"
            },
            "external-ids": {
              "external-id": [
                {
                  "external-id-value": "10.1016/0029-5582(61)90469-2",
                  "external-id-relationship": "SELF",
                  "external-id-url": {
                    "value": "http://dx.doi.org/10.1016/0029-5582(61)90469-2"
                  },
                  "external-id-type": "doi"
                }
              ]
            },
            "last-modified-date": {
              "value": 1519143190177
            },
            "citation": {
              "citation-type": "BIBTEX",
              "citation-value": "@article{Glashow:1961tr,\n    author = \"Glashow, S.L.\",\n    journal = \"Nucl.Phys.\",\n    volume = \"22\",\n    pages = \"579--588\",\n    doi = \"10.1016/0029-5582(61)90469-2\",\n    title = \"Partial Symmetries of Weak Interactions\",\n    year = \"1961\"\n}\n"
            },
            "created-date": {
              "value": 1516716146242
            },
            "visibility": "PUBLIC",
            "source": {
              "source-orcid": null,
              "source-name": {
                "value": "INSPIRE-PROFILE-PUSH"
              },
              "source-client-id": {
                "path": "CHANGE_ME",
                "host": "sandbox.orcid.org",
                "uri": "http://sandbox.orcid.org/client/CHANGE_ME"
              }
            },
            "publication-date": {
              "month": null,
              "day": null,
              "media-type": null,
              "year": {
                "value": "1961"
              }
            },
            "journal-title": {
              "value": "Nucl.Phys."
            },
            "country": null,
            "path": null,
            "short-description": null,
            "type": "JOURNAL_ARTICLE"
          }
        },
        {
          "work": {
            "language-code": null,
            "put-code": 912977,
            "contributors": {
              "contributor": [
                {
                  "contributor-orcid": null,
                  "contributor-attributes": {
                    "contributor-role": "AUTHOR",
                    "contributor-sequence": "FIRST"
                  },
                  "credit-name": {
       [...]
