# This cassette has been manually edited to reduce its size.
# Such a call for an ATLAS author with ~750 works would result in 8 calls
# with a total transferred data > 0.5 Gb.
# Most of the data is due to contributors section repeated for each bulk:
# response['bulk'][Nth]['work']['contributors']['contributor']
# In this cassette I only kept the first contributor.

interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-6665-4934/works
  response:
    body: {string: !!python/unicode
    '{
    "path": "/0000-0002-6665-4934/works",
    "group": [
        {
            "work-summary": [
                {
                    "put-code": 43326850,
                    "title": {
                        "translated-title": null,
                        "subtitle": null,
                        "title": {
                            "value": "Search for a heavy Higgs boson decaying into a $Z$ boson and another heavy Higgs boson in the $\\ell\\ell bb$ final state in $pp$ collisions at $\\sqrt{s}=13$ TeV with the ATLAS detector"
                        }
                    },
                    "last-modified-date": {
                        "value": 1532457048556
                    },
                    "external-ids": {
                        "external-id": [
                            {
                                "external-id-value": "10.1016/j.physletb.2018.07.006",
                                "external-id-relationship": "SELF",
                                "external-id-url": {
                                    "value": "http://dx.doi.org/10.1016/j.physletb.2018.07.006"
                                },
                                "external-id-type": "doi"
                            },
                            {
                                "external-id-value": "1804.01126",
                                "external-id-relationship": "SELF",
                                "external-id-url": {
                                    "value": "http://arxiv.org/abs/1804.01126"
                                },
                                "external-id-type": "arxiv"
                            }
                        ]
                    },
                    "created-date": {
                        "value": 1522985043530
                    },
                    "visibility": "PUBLIC",
                    "source": {
                        "source-orcid": null,
                        "source-name": {
                            "value": "INSPIRE-HEP"
                        },
                        "source-client-id": {
                            "path": "0000-0001-8607-8906",
                            "host": "orcid.org",
                            "uri": "http://orcid.org/client/0000-0001-8607-8906"
                        }
                    },
                    "publication-date": {
                        "month": {
                            "value": "08"
                        },
                        "day": {
                            "value": "10"
                        },
                        "media-type": null,
                        "year": {
                            "value": "2018"
                        }
                    },
                    "display-index": "0",
                    "path": "/0000-0002-6665-4934/work/43326850",
                    "type": "JOURNAL_ARTICLE"
                }
            ],
            "external-ids": {
                "external-id": [
                    {
                        "external-id-value": "1804.01126",
                        "external-id-relationship": "SELF",
                        "external-id-url": {
                            "value": "http://arxiv.org/abs/1804.01126"
                        },
                        "external-id-type": "arxiv"
                    },
                    {
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-6665-4934/works/43326850,43255490,43183518,43857637,43257979,43938460,43553536,43846642,43869107,43466717,43880082,43852910,44762573,44762737,44762744,44762721,44762617,43257122,43861964,43938538,43606530,43855125,44762615,44762741,43554289,44762570,44762735,44762597,43859780,43941962,43856818,43938515,43864453,43875319,43935537,43467792,44077351,43554306,44472652,43911727,43922432,43916436,43907796,43924927,43923874,43938553,43938542,43878004,43935695,43881622,43935569,44231173,43880802,43938523,43938458,43935897,43919253,43918420,43938697,43920855,43933388,43942717,43910178,44515789,43882441,43935355,43935418,43935500,43929711,43935348,43938613,43919864,43885354,43935660,43882622,43935419,43935519,43942195,43935682,43949957,43941870,43938614,43938644,43941852,43935478,43937005,44216033,43948457,43942230,43938670,43935725,43942117,43935577,44227246,43942042,44219584,43942229,43942467,43935574,43461438
  response:
    body: {string: !!python/unicode
    '{
    "bulk": [
        {
            "work": {
                "language-code": null,
                "put-code": 43183518,
                "contributors": {
                    "contributor": [
                        {
                            "contributor-orcid": null,
                            "contributor-attributes": {
                                "contributor-role": "AUTHOR",
                                "contributor-sequence": "FIRST"
                            },
                            "credit-name": {
                                "value": "Aaboud, Morad"
                            },
                            "contributor-email": null
                        }
                    ]
                },
                "last-modified-date": {
                    "value": 1530062081412
                },
                "url": {
                    "value": "http://inspirehep.net/record/1665234"
                },
                "country": null,
                "citation": {
                    "citation-type": "BIBTEX",
                    "citation-value": "@article{Aaboud:2018gmx,\n    author = \"Aaboud, Morad and others\",\n    journal = \"Phys.Lett.B\",\n    collaboration = \"ATLAS\",\n    volume = \"782\",\n    reportNumber = \"CERN-EP-2017-295, CERN-EP-2017-295\",\n    pages = \"750--767\",\n    archivePrefix = \"arXiv\",\n    doi = \"10.1016/j.physletb.2018.06.011\",\n    eprint = \"1803.11145\",\n    primaryClass = \"hep-ex\",\n    title = \"Search for Higgs boson decays into pairs of light (pseudo)scalar particles in the $\\gamma\\gamma j[...]
