interactions:
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{123,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1001/test.orcid.push\",\n   \
      \ title = \"Some Results Arising from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>123</common:external-id-value><common:external-id-url>http://inspirehep.net/record/123</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1001/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1001/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/123</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
      location: ['http://api.orcid.org/orcid-api-web/v2.0/0000-0002-0942-3697/work/56061295']
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\" put-code=\"56061295\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{123,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1001/test.orcid.push\",\n   \
      \ title = \"Some Results A[...]
[...]
