interactions:
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{40,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1000/test.orcid.push\",\n   \
      \ title = \"Some Results Arising from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1000/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1000/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/40</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work
  response:
    body: {string: !!python/unicode '{"response-code":400,"developer-message":"400
        Bad Request: There is an issue with your data or the API endpoint. 405 Method
        Not Allowed: Endpoint and method mismatch. 415 Unsupported Media Type: data
        must be in XML or JSON format. Full validation error: javax.xml.bind.UnmarshalException\n
        - with linked exception:\n[org.xml.sax.SAXParseException; lineNumber: 2; columnNumber:
        29; cvc-complex-type.2.4.a: Invalid content was found starting with element
        ''work:journal-title''. One of ''{\"http://www.orcid.org/ns/common\":created-date,
        \"http://www.orcid.org/ns/common\":last-modified-date, \"http://www.orcid.org/ns/common\":source,
        \"http://www.orcid.org/ns/work\":title}'' is expected.] (cvc-complex-type.2.4.a:
        Invalid content was found starting with element ''work:journal-title''. One
        of ''{\"http://www.orcid.org/ns/common\":created-date, \"http://www.orcid.org/ns/common\":last-modified-date,
        \"http://www.orcid.org/ns/common\":source, \"http://www.orcid.org/ns/work\":title}''
        is expected.)","user-message":"ORCID could not process the data, because they
        were invalid.","error-code":9001,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 400, message: Bad Request}
version: 1
