interactions:
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{10,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1000/test.orcid.push\",\n   \
      \ title = \"Some Results Arising from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1000/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1000/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/10</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work
  response:
    body: {string: !!python/unicode '{"response-code":409,"developer-message":"409
        Conflict: You have already added this activity (matched by external identifiers.)
        If you are trying to edit the item, please use PUT instead of POST.","user-message":"There
        was an error when updating the record. Please try again. If the error persists,
        please contact INSPIRE-HEP for assistance.","error-code":9021,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works
  response:
    body: {string: !!python/unicode "{\n  \"last-modified-date\" : {\n    \"value\"\
        \ : 1533562573198\n  },\n  \"group\" : [ {\n    \"last-modified-date\" : {\n\
        \      \"value\" : 1533562573198\n    },\n    \"external-ids\" : {\n     \
        \ \"external-id\" : [ {\n        \"external-id-type\" : \"doi\",\n       \
        \ \"external-id-value\" : \"10.1000/test.orcid.push\",\n        \"external-id-url\"\
        \ : {\n          \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 47160445,\n    \
        \  \"created-date\" : {\n        \"value\" : 1533562573198\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1533562573198\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"Some Results Arising from the Study of\
        \ ORCID push\"\n        },\n        \"subtitle\" : null,\n        \"translated-title\"\
        \ : null\n      },\n      \"external-ids\" : {\n        \"external-id\" :\
        \ [ {\n          \"external-id-type\" : \"doi\",\n          \"external-id-value\"\
        \ : \"10.1000/test.orcid.push\",\n          \"external-id-url\" : {\n    \
        \        \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\n     \
        \     },\n          \"external-id-relationship\" : \"SELF\"\n        } ]\n\
        \      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"/0000-0002-0942-3697/work/47160445\"\
        ,\n      \"display-index\" : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\"\
        \ : {\n      \"value\" : 1533117807329\n    },\n    \"external-ids\" : {\n\
        \      \"external-id\" : [ {\n        \"external-id-type\" : \"doi\",\n  \
        \      \"external-id-value\" : \"10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        ,\n        \"external-id-url\" : {\n          \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 46674246,\n    \
        \  \"created-date\" : {\n        \"value\" : 1531928587375\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1533117807329\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"Some Results Arising from the Study of\
        \ ORCID push in PROD at ts 1533117804.42\"\n        },\n        \"subtitle\"\
        \ : null,\n        \"translated-title\" : null\n      },\n      \"external-ids\"\
        \ : {\n        \"external-id\" : [ {\n          \"external-id-type\" : \"\
        doi\",\n          \"external-id-value\" : \"10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works/47160445,46674246,46694033
  response:
    body: {string: !!python/unicode "{\n  \"bulk\" : [ {\n    \"work\" : {\n     \
        \ \"created-date\" : {\n        \"value\" : 1531928587375\n      },\n    \
        \  \"last-modified-date\" : {\n        \"value\" : 1533117807329\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"put-code\" : 46674246,\n\
        \      \"path\" : null,\n      \"title\" : {\n        \"title\" : {\n    \
        \      \"value\" : \"Some Results Arising from the Study of ORCID push in\
        \ PROD at ts 1533117804.42\"\n        },\n        \"subtitle\" : null,\n \
        \       \"translated-title\" : null\n      },\n      \"journal-title\" : null,\n\
        \      \"short-description\" : null,\n      \"citation\" : {\n        \"citation-type\"\
        \ : \"BIBTEX\",\n        \"citation-value\" : \"@article{1682969,\\n    author\
        \ = \\\"Rossoni, A.\\\",\\n    doi = \\\"10.1000/test.orcid.push.https://labs.inspirehep.net\\\
        \",\\n    title = \\\"Some Results Arising from the Study of ORCID push in\
        \ PROD at ts 1533117804.42\\\"\\n}\\n\"\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : null,\n      \"external-ids\" : {\n      \
        \  \"external-id\" : [ {\n          \"external-id-type\" : \"doi\",\n    \
        \      \"external-id-value\" : \"10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push.https://labs.inspirehep.net\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"url\" : {\n        \"value\" : \"http://inspirehep.net/record/1682969\"\
        \n      },\n      \"contributors\" : {\n        \"contributor\" : [ {\n  \
        \        \"contributor-orcid\" : null,\n          \"credit-name\" : {\n  \
        \          \"value\" : \"Rossoni, A.\"\n          },\n          \"contributor-email\"\
        \ : null,\n          \"contributor-attributes\" : {\n            \"contributor-sequence\"\
        \ : \"FIRST\",\n            \"contributor-role\" : \"AUTHOR\"\n          }\n\
        \        } ]\n      },\n      \"language-code\" : null,\n      \"country\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\"\n    }\n  }, {\n    \"work\"\
        \ : {\n      \"created-date\" : {\n        \"value\" : 1531991597193\n   \
        \   },\n      \"last-modified-date\" : {\n        \"value\" : 1533117844748\n\
        \      },\n      \"source\" : {\n        \"source-orcid\" : null,\n      \
        \  \"source-client-id\" : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"put-code\" : 46694033,\n\
        \      \"path\" : null,\n      \"title\" : {\n        \"title\" : {\n    \
        \      \"value\" : \"Some Results Arising from the Study of ORCID push in\
        \ Q[...]
