interactions:
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\" put-code=\"51551656\"><work:title><common:title>Some\
      \ Results Arising from the Study of ORCID push</common:title></work:title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{45,\n\
      \    author = \"Rossoni, A.\",\n    doi = \"10.1000/test.orcid.push\",\n   \
      \ title = \"Some Results Arising from the Study of ORCID push\"\n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:external-ids><common:external-id><common:external-id-type>other-id</common:external-id-type><common:external-id-value>45</common:external-id-value><common:external-id-url>http://inspirehep.net/record/45</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1000/test.orcid.push</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1000/test.orcid.push</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/45</work:url><work:contributors><work:contributor><work:credit-name>Rossoni,\
      \ A.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: PUT
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/work/51551656
  response:
    body: {string: !!python/unicode '{"response-code":409,"developer-message":"409
        Conflict: You have already added this activity (matched by external identifiers.)
        If you are trying to edit the item, please use PUT instead of POST.","user-message":"There
        was an error when updating the record. Please try again. If the error persists,
        please contact INSPIRE-HEP for assistance.","error-code":9021,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.orcid.org/v2.0/0000-0002-0942-3697/works
  response:
    body: {string: !!python/unicode "{\n  \"last-modified-date\" : {\n    \"value\"\
        \ : 1544555716600\n  },\n  \"group\" : [ {\n    \"last-modified-date\" : {\n\
        \      \"value\" : 1544548825366\n    },\n    \"external-ids\" : {\n     \
        \ \"external-id\" : [ {\n        \"external-id-type\" : \"doi\",\n       \
        \ \"external-id-value\" : \"10.1000/test.orcid.push\",\n        \"external-id-url\"\
        \ : {\n          \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      }, {\n\
        \        \"external-id-type\" : \"other-id\",\n        \"external-id-value\"\
        \ : \"999\",\n        \"external-id-url\" : {\n          \"value\" : \"https://labs.inspirehep.net/literature/20\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 51548299,\n    \
        \  \"created-date\" : {\n        \"value\" : 1544548825366\n      },\n   \
        \   \"last-modified-date\" : {\n        \"value\" : 1544548825366\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\"\
        ,\n          \"path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"\
        orcid.org\"\n        },\n        \"source-name\" : {\n          \"value\"\
        \ : \"INSPIRE-HEP\"\n        }\n      },\n      \"title\" : {\n        \"\
        title\" : {\n          \"value\" : \"ORCID Push test\"\n        },\n     \
        \   \"subtitle\" : null,\n        \"translated-title\" : null\n      },\n\
        \      \"external-ids\" : {\n        \"external-id\" : [ {\n          \"external-id-type\"\
        \ : \"doi\",\n          \"external-id-value\" : \"10.1000/test.orcid.push\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  }, {\n          \"external-id-type\" : \"other-id\",\n          \"external-id-value\"\
        \ : \"999\",\n          \"external-id-url\" : {\n            \"value\" : \"\
        https://labs.inspirehep.net/literature/20\"\n          },\n          \"external-id-relationship\"\
        \ : \"SELF\"\n        } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : {\n        \"year\" : {\n          \"value\"\
        \ : \"1975\"\n        },\n        \"month\" : null,\n        \"day\" : null,\n\
        \        \"media-type\" : null\n      },\n      \"visibility\" : \"PUBLIC\"\
        ,\n      \"path\" : \"/0000-0002-0942-3697/work/51548299\",\n      \"display-index\"\
        \ : \"0\"\n    } ]\n  }, {\n    \"last-modified-date\" : {\n      \"value\"\
        \ : 1544555716600\n    },\n    \"external-ids\" : {\n      \"external-id\"\
        \ : [ {\n        \"external-id-type\" : \"doi\",\n        \"external-id-value\"\
        \ : \"10.2000/2000.1\",\n        \"external-id-url\" : {\n          \"value\"\
        \ : \"http://dx.doi.org/10.1000/test.orcid.push\"\n        },\n        \"\
        external-id-relationship\" : \"SELF\"\n      } ]\n    },\n    \"work-summary\"\
        \ : [ {\n      \"put-code\" : 51551656,\n      \"created-date\" : {\n    \
        \    \"value\" : 1544555716600\n      },\n      \"last-modified-date\" : {\n\
        \        \"value\" : 1544555716600\n      },\n      \"source\" : {\n     \
        \   \"source-orcid\" : null,\n        \"source-client-id\" : {\n         \
        \ \"uri\" : \"http://orcid.org/client/0000-0001-8607-8906\",\n          \"\
        path\" : \"0000-0001-8607-8906\",\n          \"host\" : \"orcid.org\"\n  \
        \      },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-HEP\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"ORCID Push test2\"\n        },\n        \"subtitle\" :\
        \ null,\n        \"translated-title\" : null\n      },\n      \"external-ids\"\
        \ : {\n        \"external-id\" : [ {\n          \"external-id-type\" : \"\
        doi\",\n          \"external-id-value\" : \"10.2000/2000.1\",\n          \"\
        external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1000/test.orcid.push\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : {\n        \"year\" : {\n          \"value\" : \"1975\"\n        },\n\
        \        \"month\" : null,\n        \"day\" : null,\n        \"media-type\"\
        \ : null\n      },\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"\
        /0000-0002-0942-3697/work/51551656\",\n      \"display-index\" : \"0\"\n \
        \   } ]\n  } ],\n  \"path\" : \"/0000-0002-0942-3697/works\"\n}"}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
