interactions:
- request:
    body: !!python/unicode "<work:work xmlns:common=\"http://www.orcid.org/ns/common\"\
      \ xmlns:work=\"http://www.orcid.org/ns/work\"><work:title><common:title>Partial\
      \ Symmetries of Weak Interactions</common:title></work:title><work:journal-title>Nucl.Phys.</work:journal-title><work:citation><work:citation-type>bibtex</work:citation-type><work:citation-value>@article{Glashow:1961tr,\n\
      \    author = \"Glashow, S.L.\",\n    journal = \"Nucl.Phys.\",\n    volume\
      \ = \"22\",\n    pages = \"579--588\",\n    doi = \"10.1016/0029-5582(61)90469-2\"\
      ,\n    title = \"Partial Symmetries of Weak Interactions\",\n    year = \"1961\"\
      \n}\n</work:citation-value></work:citation><work:type>journal-article</work:type><common:publication-date><common:year>1961</common:year></common:publication-date><common:external-ids><common:external-id><common:external-id-type>doi</common:external-id-type><common:external-id-value>10.1016/0029-5582(61)90469-2</common:external-id-value><common:external-id-url>http://dx.doi.org/10.1016/0029-5582(61)90469-2</common:external-id-url><common:external-id-relationship>self</common:external-id-relationship></common:external-id></common:external-ids><work:url>http://inspirehep.net/record/8201</work:url><work:contributors><work:contributor><work:credit-name>Glashow,\
      \ S.L.</work:credit-name><work:contributor-attributes><work:contributor-sequence>first</work:contributor-sequence><work:contributor-role>author</work:contributor-role></work:contributor-attributes></work:contributor></work:contributors></work:work>"
    headers:
      Content-Type: [application/orcid+xml]
    method: POST
    uri: https://api.sandbox.orcid.org/v2.0/0000-0002-1825-0097/work
  response:
    body: {string: !!python/unicode '{"response-code":409,"developer-message":"409
        Conflict: You have already added this activity (matched by external identifiers.)
        If you are trying to edit the item, please use PUT instead of POST.","user-message":"There
        was an error when updating the record. Please try again. If the error persists,
        please contact INSPIRE-HEP for assistance.","error-code":9021,"more-info":"https://members.orcid.org/api/resources/troubleshooting"}'}
    headers:
      content-type: [application/orcid+json;charset=UTF-8]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0002-1825-0097/works
  response:
    body: {string: !!python/unicode "{\n  \"last-modified-date\" : {\n    \"value\"\
        \ : 1518614064366\n  },\n  \"group\" : [ {\n    \"last-modified-date\" : {\n\
        \      \"value\" : 1518614064366\n    },\n    \"external-ids\" : {\n     \
        \ \"external-id\" : [ {\n        \"external-id-type\" : \"doi\",\n       \
        \ \"external-id-value\" : \"10.1016/0029-5582(61)90469-2\",\n        \"external-id-url\"\
        \ : {\n          \"value\" : \"http://dx.doi.org/10.1016/0029-5582(61)90469-2\"\
        \n        },\n        \"external-id-relationship\" : \"SELF\"\n      } ]\n\
        \    },\n    \"work-summary\" : [ {\n      \"put-code\" : 920107,\n      \"\
        created-date\" : {\n        \"value\" : 1518614064366\n      },\n      \"\
        last-modified-date\" : {\n        \"value\" : 1518614064366\n      },\n  \
        \    \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://sandbox.orcid.org/client/CHANGE_ME\",\n\
        \          \"path\" : \"CHANGE_ME\",\n          \"host\" : \"sandbox.orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-PROFILE-PUSH\"\
        \n        }\n      },\n      \"title\" : {\n        \"title\" : {\n      \
        \    \"value\" : \"Partial Symmetries of Weak Interactions\"\n        },\n\
        \        \"subtitle\" : null,\n        \"translated-title\" : null\n     \
        \ },\n      \"external-ids\" : {\n        \"external-id\" : [ {\n        \
        \  \"external-id-type\" : \"doi\",\n          \"external-id-value\" : \"10.1016/0029-5582(61)90469-2\"\
        ,\n          \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1016/0029-5582(61)90469-2\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"type\" : \"JOURNAL_ARTICLE\",\n      \"publication-date\"\
        \ : {\n        \"year\" : {\n          \"value\" : \"1961\"\n        },\n\
        \        \"month\" : null,\n        \"day\" : null,\n        \"media-type\"\
        \ : null\n      },\n      \"visibility\" : \"PUBLIC\",\n      \"path\" : \"\
        /0000-0002-2169-2152/work/920107\",\n      \"display-index\" : \"0\"\n   \
        \ } ]\n  } ],\n  \"path\" : \"/0000-0002-2169-2152/works\"\n}"}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0002-1825-0097/works/920107
  response:
    body: {string: !!python/unicode "{\n  \"bulk\" : [ {\n    \"work\" : {\n     \
        \ \"created-date\" : {\n        \"value\" : 1518614064366\n      },\n    \
        \  \"last-modified-date\" : {\n        \"value\" : 1518614064366\n      },\n\
        \      \"source\" : {\n        \"source-orcid\" : null,\n        \"source-client-id\"\
        \ : {\n          \"uri\" : \"http://sandbox.orcid.org/client/CHANGE_ME\",\n\
        \          \"path\" : \"CHANGE_ME\",\n          \"host\" : \"sandbox.orcid.org\"\
        \n        },\n        \"source-name\" : {\n          \"value\" : \"INSPIRE-PROFILE-PUSH\"\
        \n        }\n      },\n      \"put-code\" : 920107,\n      \"path\" : null,\n\
        \      \"title\" : {\n        \"title\" : {\n          \"value\" : \"Partial\
        \ Symmetries of Weak Interactions\"\n        },\n        \"subtitle\" : null,\n\
        \        \"translated-title\" : null\n      },\n      \"journal-title\" :\
        \ {\n        \"value\" : \"Nucl.Phys.\"\n      },\n      \"short-description\"\
        \ : null,\n      \"citation\" : {\n        \"citation-type\" : \"BIBTEX\"\
        ,\n        \"citation-value\" : \"@article{Glashow:1961tr,\\n    author =\
        \ \\\"Glashow, S.L.\\\",\\n    journal = \\\"Nucl.Phys.\\\",\\n    volume\
        \ = \\\"22\\\",\\n    pages = \\\"579--588\\\",\\n    doi = \\\"10.1016/0029-5582(61)90469-2\\\
        \",\\n    title = \\\"Partial Symmetries of Weak Interactions\\\",\\n    year\
        \ = \\\"1961\\\"\\n}\\n\"\n      },\n      \"type\" : \"JOURNAL_ARTICLE\"\
        ,\n      \"publication-date\" : {\n        \"year\" : {\n          \"value\"\
        \ : \"1961\"\n        },\n        \"month\" : null,\n        \"day\" : null,\n\
        \        \"media-type\" : null\n      },\n      \"external-ids\" : {\n   \
        \     \"external-id\" : [ {\n          \"external-id-type\" : \"doi\",\n \
        \         \"external-id-value\" : \"10.1016/0029-5582(61)90469-2\",\n    \
        \      \"external-id-url\" : {\n            \"value\" : \"http://dx.doi.org/10.1016/0029-5582(61)90469-2\"\
        \n          },\n          \"external-id-relationship\" : \"SELF\"\n      \
        \  } ]\n      },\n      \"url\" : {\n        \"value\" : \"http://labs.inspirehep.net/record/8201\"\
        \n      },\n      \"contributors\" : {\n        \"contributor\" : [ {\n  \
        \        \"contributor-orcid\" : null,\n          \"credit-name\" : {\n  \
        \          \"value\" : \"Glashow, S.L.\"\n          },\n          \"contributor-email\"\
        \ : null,\n          \"contributor-attributes\" : {\n            \"contributor-sequence\"\
        \ : \"FIRST\",\n            \"contributor-role\" : \"AUTHOR\"\n          }\n\
        \        } ]\n      },\n      \"language-code\" : null,\n      \"country\"\
        \ : null,\n      \"visibility\" : \"PUBLIC\"\n    }\n  } ]\n}"}
    headers:
      content-type: [application/orcid+json; qs=2;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
