<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.tei-c.org/ns/1.0 http://api.archives-ouvertes.fr/documents/aofr-sword.xsd" xmlns="http://www.tei-c.org/ns/1.0" xmlns:hal="http://hal.archives-ouvertes.fr/">
  <text>
    <body>
      <listBibl>
        <biblFull>
          {% block notesStmt %}{% endblock notesStmt %}
          {% block sourceDesc %}{% endblock sourceDesc %}
          {% block profileDesc %}{% endblock profileDesc %}
        </biblFull>
      </listBibl>
    </body>
  </text>
</TEI>
