{#
# This file is part of INSPIRE.
# Copyright (C) 2016 CERN.
#
# INSPIRE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# INSPIRE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with INSPIRE. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this licence, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.
#}

{% macro author_data(author) %}
  {% if author.role and author.role == "Editor" %}
  <author role="edt">
  {% else %}
  <author role="aut">
  {% endif %}
    <persName>
      {% if author.parsed_name.first %}
        <forename type="first">{{ author.parsed_name.first }}</forename>
      {% endif %}
      {% if author.parsed_name.middle %}
        <forename type="middle">{{ author.parsed_name.middle }}</forename>
      {% endif %}

      {% if author.parsed_name.last and author.parsed_name.suffix %}
        <surname>{{ author.parsed_name.last }} {{ author.parsed_name.suffix }}</surname>
      {% elif author.parsed_name.last %}
        <surname>{{ author.parsed_name.last }}</surname>
      {% elif author.parsed_name.suffix %}
        <surname>{{ author.parsed_name.suffix }}</surname>
      {% endif %}
    </persName>

    {% if author.affiliations %}
      {% for affiliation in author.affiliations %}
        {% if affiliation.hal_id %}
          <affiliation ref="#struct-{{ affiliation.hal_id }}"/>
        {% elif affiliation.recid %}
          <affiliation ref="#localStruct-{{ affiliation.recid }}"/>
        {% endif %}
      {% endfor %}
    {% endif %}
  </author>
{% endmacro %}
