interactions:
- request:
    body: !!python/unicode '{"abstract": "Although the integration of two-sided matching
      markets using stable mechanisms generates expected gains from                 integration,
      I show that there are worst-case scenarios in which these are negative. The
      losses from integration can be                 large enough that the average
      rank of an agent''s spouse decreases by 37.5 of the length of their preference
      list in any                 stable matching mechanism.", "title": "The Losses
      from Integration in Matching Markets can be Large"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://inspire-classifier.web.cern.ch/api/predict/coreness
  response:
    body: {string: !!python/unicode '{"prediction":"rejected","scores":{"core":0.032547879964113235,"non_core":0.09766120463609695,"rejected":0.8697909116744995}}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
