__pycache__/
*.py[cod]
*.so
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
.project
.pydevproject
*.orig
docs/_build/
bower.json
**/static/vendors/**
**/static/gen/**
*~
dump.rdb
.idea/
*.mo
.DS_Store
node_modules/
.kdev4/
*.kdev4

