# -*- coding: utf-8 -*-
#
# This file is part of INSPIRE.
# Copyright (C) 2014-2017 CERN.
#
# INSPIRE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# INSPIRE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with INSPIRE. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.

notifications:
  email: false

sudo: required
dist: trusty

language: python

services:
  - docker

env:
  global:
    - DOCKER_DATA="$HOME/docker_data"
    - DOCKER_COMPOSE_VERSION=1.13.0
    - BASE_USER_UID=2000
    - BASE_USER_GID=2000
    # DOCKER_USERNAME
    - secure: "jwc9PxBYZ7pr6DpTHG4IPqZ2vP/SXdZ4lgCqNPDNs00qxdVL40Tm0pybaEmbHeaLU78Wc6cPJcVuRYmykEHi2QyguW6/vOt7oDpsN6oQ3ahBxdRu/bJVgCOq1WuvxCz6Vssa2kd9RKS99Ck7hB7YVf9a3ASQNICALsR5CxKa7+k="
    # DOCKER_PASSWORD
    - secure: "hpa8R3iJtOjWjOengHJRVxiAUy6cPR2FMF7Jvso3wlFUDuJ743wB7EJaFDc7CEaUig/LODdbiESWM2SuyVUeJrupGrBCcZJw9N9yeWO5z+7OqPauPlP1hPJkZPt8KivCTwPcixPj7uueLKGjNPEQR2b8jkNu4ATBC6x4q4NPmnc="
    # DEPLOY_QA_TOKEN
    - secure: "Ocecyoj6CNPFnehVTvhLpGrFlWYkVVvK4ciqn5Tr+MxPyqwbOODMuL2efqA/HfoeMLHyom2OnwE6cQyG1KhW4wvh0fXiUtmYc04kbCjp64ZFTk+S6R7bdk/XtN7rxEwLES+kbkfJ6T8wMWrxgRdPPFSMBKFPv6sU2HX+dOxsS+g="
  matrix:
    - SUITE=workflows IMAGES="test-database test-indexer test-rabbitmq test-redis test-web"
    - SUITE=integration IMAGES="test-database test-indexer test-redis"
    - SUITE=integration_async IMAGES="test-database test-indexer test-redis test-rabbitmq"
    - SUITE=unit IMAGES=""

matrix:
  fast_finish: true

python:
  - 2.7

before_install:
  - travis_retry pip install coveralls
  # See: https://docs.travis-ci.com/user/docker/#Using-Docker-Compose
  - sudo rm -f /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

install:
  - travis_retry docker-compose -f services.yml build base
  - travis_retry docker-compose -f docker-compose.test.yml pull --parallel ${SUITE} ${IMAGES}
  - if [ ! -z "${IMAGES}" ]; then
      travis_retry docker-compose -f docker-compose.test.yml build ${IMAGES};
    fi

script:
  - if [ ! -z "${IMAGES}" ]; then
      travis_retry docker-compose -f docker-compose.test.yml up -d ${IMAGES};
      ./docker/wait-for-services.sh;
    fi
  - docker-compose -f docker-compose.test.yml run --rm ${SUITE}

after_script:
  # Killing via SIGTERM in order to trigger atexit and dump coverage information in WSGI.
  - docker-compose -f docker-compose.test.yml kill -s SIGTERM
  - docker-compose -f docker-compose.test.yml rm -f
  # Coverage report contains Docker paths. We replace them, so that we can run Coveralls.
  - sed -i 's@\"/code/@'"\"$(pwd)/"'@g' .coverage
  - coveralls

deploy:
  - skip_cleanup: true
    provider: script
    script: ./deploy-docker-image.sh
    on:
      branch: master
      condition: $SUITE = integration
  - skip_cleanup: true
    provider: script
    script: ./deploy-docker-image.sh
    on:
      tags: true
      condition: $SUITE = integration
