# -*- coding: utf-8 -*-
#
# This file is part of INSPIRE.
# Copyright (C) 2014-2017 CERN.
#
# INSPIRE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# INSPIRE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with INSPIRE. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.

version: '2.1'

services:
  pip:
    extends:
      file: services.yml
      service: base
    command: pip install --editable .[all] --find-links /pip-cache --pre --requirement requirements.txt --upgrade
    volumes_from:
      - static

  assets:
    extends:
      file: services.yml
      service: base
    command: scripts/clean_assets
    volumes_from:
      - static

  static:
    extends:
      file: services.yml
      service: static

  scrapyd:
    extends:
      file: services.yml
      service: base
    command: scrapyd
    volumes_from:
      - static

  scrapyd-deploy:
    extends:
      file: services.yml
      service: base
    working_dir: /virtualenv/lib/python2.7/site-packages/hepcrawl
    command: scrapyd-deploy
    volumes_from:
      - static
    links:
      - scrapyd
