# -*- coding: utf-8 -*-
#
# This file is part of INSPIRE.
# Copyright (C) 2014-2017 CERN.
#
# INSPIRE is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# INSPIRE is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with INSPIRE. If not, see <http://www.gnu.org/licenses/>.
#
# In applying this license, CERN does not waive the privileges and immunities
# granted to it by virtue of its status as an Intergovernmental Organization
# or submit itself to any jurisdiction.


# FIXME Bleeding edge packages not yet released on pypi
-e git+git://github.com/inveniosoftware/invenio-indexer.git@ead1eaa923c3289f08f1c84b404fbb3362764fa3#egg=invenio-indexer

# FIXME temporary branch for testing
-e git+https://github.com/inspirehep/invenio-query-parser.git@invenio3-inspire#egg=invenio-query-parser==0.6.0

# JSON editor
-e git+https://github.com/inveniosoftware-contrib/invenio-record-editor.git#egg=invenio-record-editor

# Workflows and Holding Pen related dependencies
-e git+https://github.com/david-caro/workflow.git@minor_fixes_bumped_version#egg=workflow==2.0.1.dev20161019
-e git+https://github.com/inspirehep/invenio-matcher.git#egg=invenio-matcher

-e .[postgresql]
