{% extends "inspirehep_theme/page.html" %}
{%set body_css_classes=['holding-pen']%}
{%- block css %}
{{ super() }}
{% assets "inspirehep_holding_css" %}
<link href="{{ ASSET_URL }}" rel="stylesheet"/>
{% endassets %}
{%- endblock css %}


{% block page_banner %}
<div class="holding-page-header">
  <ul class="pull-left">
    <li>Holding Pen</li>
    <li class="active">Dashboard
    </li>
  </ul>
</div>
{% endblock page_banner %}

{%- block body -%}

<div class="container-fluid">
  <h3 class="text-center header-text">
    OVERVIEW
  </h3>

  <div class="row overview-container">
    <div class="col-md-3 col-sm-6">
      <div class="overview-item">

        <div class="summary authors">
          <h4>New Author Submissions</h4>
          <h2>134</h2>
          <p><i class="fa fa-caret-up"></i> 22% increase</p>
        </div>

         {% set status_items = [
          {'type': 'New Author', 'name': 'In Progress', 'icon': 'fa-refresh', 'color': 'inprogress', 'count': 10},
          {'type': 'New Author', 'name': 'Error', 'icon': 'fa-exclamation-triangle', 'color': 'error', 'count': 0},
          {'type': 'New Author', 'name': 'Need action', 'icon': 'fa-circle-o', 'color': 'attention', 'count': 0},
          {'type': 'New Author', 'name': 'Done', 'icon': 'fa-circle', 'color': 'done', 'count': 2}
        ] %}
        {% include "inspire_workflows/components/dashboard_status_widget.html" %}


      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="overview-item">
        <div class="summary authors-update">
          <h4>New Author Updates</h4>
          <h2>12</h2>
          <p><i class="fa fa-caret-up"></i> 12% increase</p>
        </div>


        {% set status_items = [
          {'type': 'Author Update', 'name': 'In Progress', 'icon': 'fa-refresh', 'color': 'inprogress', 'count': 10},
          {'type': 'Author Update', 'name': 'Error', 'icon': 'fa-exclamation-triangle', 'color': 'error', 'count': 10},
          {'type': 'Author Update', 'name': 'Need action', 'icon': 'fa-circle-o', 'color': 'attention', 'count': 10},
          {'type': 'Author Update', 'name': 'Done', 'icon': 'fa-circle', 'color': 'done', 'count': 10}
        ] %}
        {% include "inspire_workflows/components/dashboard_status_widget.html" %}

      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="overview-item">

        <div class="summary literature">
          <h4>New Literature Submissions</h4>
          <h2>134</h2>
          <p><i class="fa fa-caret-up"></i> 22% increase</p>
        </div>

        {% set status_items = [
          {'type': 'Literature Suggestion', 'name': 'In Progress', 'icon': 'fa-refresh', 'color': 'inprogress', 'count': 10},
          {'type': 'Literature Suggestion', 'name': 'Error', 'icon': 'fa-exclamation-triangle', 'color': 'error', 'count': 10},
          {'type': 'Literature Suggestion', 'name': 'Need action', 'icon': 'fa-circle-o', 'color': 'attention', 'count': 10},
          {'type': 'Literature Suggestion', 'name': 'Done', 'icon': 'fa-circle', 'color': 'done', 'count': 10}
        ] %}
        {% include "inspire_workflows/components/dashboard_status_widget.html" %}

      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="overview-item">
        <div class="summary arxiv">
          <h4>New arXiv Submissions</h4>
           <h2>2,134</h2>
          <p><i class="fa fa-caret-up"></i> 42% increase</p>
        </div>

          {% set status_items = [
          {'type': 'arXiv', 'name': 'In Progress', 'icon': 'fa-refresh', 'color': 'inprogress', 'count': 10},
          {'type': 'arXiv', 'name': 'Error', 'icon': 'fa-exclamation-triangle', 'color': 'error', 'count': 10},
          {'type': 'arXiv', 'name': 'Need action', 'icon': 'fa-circle-o', 'color': 'attention', 'count': 10},
          {'type': 'arXiv', 'name': 'Done', 'icon': 'fa-circle', 'color': 'done', 'count': 10}
        ] %}
        {% include "inspire_workflows/components/dashboard_status_widget.html" %}

      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br/>
<div class="container-fluid">
  <h3 class="text-center header-text">
    SUBMISSION STATS
  </h3>

  <div class="container-fluid">
    <div ihd="submission-history-container" class="col-md-12">
    </div>
  </div>
</div>
{%- endblock -%}
