interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://inspirebeta.net/api/literature/1401296
  response:
    body: {string: "{\"metadata\":{\"core\":true,\"self\":{\"$ref\":\"https://inspirebeta.net/api/literature/1401296\"},\"urls\":[{\"value\":\"http://homepages.ulb.ac.be/~mmoskovi/docs/memoire.pdf\"},{\"value\":\"http://old.inspirehep.net/record/1401296/files/memoire.pdf\"}],\"titles\":[{\"title\":\"Boucles
        de Wilson et localisation en th\xE9orie des champs supersym\xE9trique\"}],\"$schema\":\"https://inspirebeta.net/schemas/records/hep.json\",\"authors\":[{\"ids\":[{\"value\":\"M.Moskovic.1\",\"schema\":\"INSPIRE
        BAI\"}],\"uuid\":\"a05c2d68-9652-447a-8b05-3dc530f0b3f6\",\"record\":{\"$ref\":\"https://inspirebeta.net/api/authors/1259096\"},\"full_name\":\"Moskovic,
        Micha\",\"signature_block\":\"MASCAVACm\",\"curated_relation\":true},{\"uuid\":\"396d4537-b912-4f02-8f95-84d170665da1\",\"full_name\":\"Ferrari,
        Frank\",\"inspire_roles\":[\"supervisor\"],\"signature_block\":\"FARARf\"}],\"curated\":true,\"texkeys\":[\"Moskovic:2010jnx\"],\"documents\":[{\"key\":\"8860a1248eabe3fd576e0d5d116acaf8\",\"url\":\"https://inspirebeta.net/files/8860a1248eabe3fd576e0d5d116acaf8\",\"filename\":\"memoire.pdf\"}],\"languages\":[\"fr\"],\"references\":[{\"record\":{\"$ref\":\"https://inspirebeta.net/api/literature/792295\"},\"reference\":{\"misc\":[\"Cit\xE9
        p. 1\"],\"label\":\"1\",\"title\":{\"title\":\"Review of particle physics\"},\"authors\":[{\"full_name\":\"Amsler,
        C.\"}],\"collaborations\":[\"Particle Data Group Collaboration\"],\"publication_info\":{\"year\":2008,\"artid\":\"1\",\"page_start\":\"1\",\"journal_title\":\"Phys.Lett.B\",\"journal_volume\":\"667\"}},\"curated_relation\":false},{\"record\":{\"$ref\":\"https://inspirebeta.net/api/literature/89145\"},\"reference\":{\"misc\":[\"Cit\xE9
        p. 2\"],\"label\":\"2\",\"title\":{\"title\":\"Confinement of quarks\"},\"authors\":[{\"full_name\":\"Wilson,
        K.G.\"}],\"publication_info\":{\"year\":1974,\"page_end\":\"2459\",\"page_start\":\"2445\",\"journal_title\":\"Phys.Rev.D\",\"journal_volume\":\"10\"}},\"curated_relation\":false},{\"record\":{\"$ref\":\"https://inspirebeta.net/api/literature/524732\"},\"reference\":{\"misc\":[\"et
        K. Zarembo arXiv: Cit\xE9 p. 3\"],\"label\":\"3\",\"title\":{\"title\":\"Wilson
        Loops in N=4 Supersymmetric Yang-Mills Theory\"},\"authors\":[{\"full_name\":\"Erickson,
        J.K.\"},{\"full_name\":\"Semenoff, G.W.\"}],\"arxiv_eprint\":\"hep-th/0003055\",\"publication_info\":{\"year\":2000,\"artid\":\"155\",\"page_start\":\"155\",\"journal_title\":\"Nucl.Phys.B\",\"journal_volume\":\"582\"}},\"curated_relation\":false},{\"record\":{\"$ref\":\"https://inspirebeta.net/api/literature/535850\"},\"reference\":{\"misc\":[\"et
        D. J. Gross arXiv: Cit\xE9 p. 3\"],\"label\":\"4\",\"title\":{\"title\":\"An
        Exact Prediction of N=4 SUSYM Theory for String Theory\"},\"authors\":[{\"full_name\":\"Drukker,
        N.\"}],\"arx[...]
