<div class="modal-header">
  <h3 class="modal-title">Confirm Batch Acceptance</h3>
</div>
<div class="modal-body">
  <p>Are you sure you want to accept all of the selected worflows?</p>
</div>
<div class="modal-footer">
  <button ng-if="data_type == 'hep'" class="btn btn-warning pull-right" type="button"
          ng-click="BatchUtils.setDecision(data_type, 'accept')">Accept</button>

   <button ng-if="data_type == 'authors'" class="btn btn-warning pull-right" type="button"
          ng-click="BatchUtils.setDecision(data_type, 'accept_curate')">Accept Curate</button>

  <button class="btn btn-default pull-left" type="button" ng-click="BatchUtils.hideConfirm()">Cancel
  </button>
</div>
