<div class="row" ng-repeat="record in vm.invenioSearchResults.hits.hits track by $index">
  <div class="col-md-12">
    <div id="panel-default-brief" class="panel panel-default" >
      <div class="panel-body" >
        <div class="row">
          <div class="col-md-9 left-column">
            <div class="row">
              <div class="col-md-1">
                <span id='checkbox-parent'>
                  <input type="checkbox" class="checkbox-results" id="{{record.id}}">
                </span>
              </div>
              <div class="col-md-11">
                <h4 class="custom-h">
                  <a class="title" ng-href="/literature/{{record.id}}">
                    {{ record.metadata.titles[0].title }}
                  </a>
                </h4>
                <div class="brief-record-details">
                  <div class="authors">
                    <!-- {{ render_record_authors(record, is_brief=true, show_affiliations=false) }} -->
                    <span id="record-date">
                      {{ record.display.date }}
                    </span>
                  </div>
                  <div class="row">
                    <div class="col-md-12 ">
                      Journal info goes here
                    </div>
                    <div ng-bind-html='record.metadata.dois | doi' class="col-md-12 ">
                    </div>
                    <div>
                      Arxiv info
                    </div>
                  </div>
                  Abstract here.
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 right-column" >
            <a type="button" class="btn custom-btn btn-warning link-to-pdf no-external-icon" href="http://arxiv.org/pdf/123 }}">PDF</a>
            <span class="dropdown">
              <button class="btn btn-default dropdown-toggle dropdown-cite" type="button" id="dropdownMenu{{record.id}}" data-recid="{{record.id}}"  data-toggle="modal" data-target="#citeModal{{record.id}}">
                <i class="fa fa-quote-right"></i> Cite
              </button>
            </span>
            <div class="citations-references">
              <span ng-if="record.metadata.citation_count">
                <i class="fa fa-quote-left"></i><span><a href="/search?p=refersto:{{record.id}}"> {{record.metadata.citation_count}} Citations </a></span><br/>
              </span>
              <span ng-if="record.display.number_of_references">
                <i class="fa fa-link"></i><span><a href="/record/{{record.id}}#references" target="_blank">  {{record.display.number_of_references}} References</a> </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
