<div class="overview-item">
  <div class="summary" ng-class="vm.class_name | lowercase">
    <h4 ng-bind="vm.sectionTitle"></h4>
    <h2 ng-bind="vm.total"></h2>
    <h4><a ng-href="/holdingpen/list/{{vm.get_filter_string('size=10')}}">View all</a></h4>
  </div>

  <ul class="statuses">
    <li ng-repeat="(status,value) in vm.secondary_filters">
      <a ng-href="/holdingpen/list/{{vm.get_filter_string('size=10&status=' + status)}}">
        <div class="row-fluid" ng-class="status | lowercase">
          <div class="col-md-1 col-sm-1 col-xs-1">
            <i class="fa" ng-class="{'fa-hourglass-half': status === 'WAITING',
              'fa-pause': status === 'HALTED',
              'fa-exclamation-triangle': status === 'ERROR',
              'fa-check': status === 'COMPLETED',
              'fa-circle-o': status === 'INITIAL'}">
            </i>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 status-label" ng-bind="status | lowercase"></div>
          <div class="col-md-2 col-sm-2 col-xs-2" ng-bind="{{value}}"></div>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
  </ul>
</div>
