<p class="automatic-decision">Automatic Decision: <span
  ng-class="{'accept_core': vm.record._extra_data.relevance_prediction.decision == 'CORE',
              'accept': vm.record._extra_data.relevance_prediction.decision == 'Non-CORE',
              'reject': vm.record._extra_data.relevance_prediction.decision == 'Rejected'}"
  ng-bind="vm.record._extra_data.relevance_prediction.decision + ' ' + (vm.record._extra_data.relevance_prediction.max_score | number : 2)"></span>
</p>

<div
  ng-if="vm.record._extra_data._action == 'hep_approval' && !vm.ingestion_complete">
  <button class="btn btn-success"
          ng-click="Utils.setDecision('accept_core')">Core
  </button>
  <button class="btn btn-warning"
          ng-click="Utils.setDecision('accept')">Accept
  </button>

  <button ng-if="vm.record.metadata.acquisition_source.method == 'submitter'"
          class="btn btn-danger"
          ng-click="Utils.setRejectionReason()">Reject
  </button>
  <button ng-if="vm.record.metadata.acquisition_source.method == 'hepcrawl'"
          class="btn btn-danger"
          ng-click="Utils.setDecision('reject')">Reject
  </button>
</div>

<div ng-if="vm.record._extra_data._action == null || vm.ingestion_complete"
  class="text-muted">
    <span ng-class="vm.record._extra_data.user_action" ng-switch="vm.record._extra_data.user_action">
      <span ng-switch-when="reject">Rejected</span>
      <span ng-switch-when="accept">Accepted as Non-CORE</span>
      <span ng-switch-when="accept_core">Accepted as CORE</span>
    </span>
  <p>No further actions available</p>
</div>

<div class="clearfix"></div>
<br/>
<div class="decision-keywords">
  <p>
    {{Utils.keys(vm.record._extra_data.classifier_results.complete_output['core_keywords']).length}} core keywords.
    {{Utils.keys(vm.record._extra_data.classifier_results.complete_output['filtered_core_keywords']).length}} Filtered:

  <div class="list">
    <div class="row"
         ng-repeat="keyword in vm.record._extra_data.classifier_results.complete_output['filtered_core_keywords']">
      <div class="col-md-9 col-sm-9 text-left"
           ng-bind="keyword['keyword']"></div>
      <div class="col-md-3 col-sm-3 text-right"><span
        class="label label-success"
        ng-bind="keyword['number']"></span>
      </div>
    </div>
  </div>
  </p>
</div>
