<div class="detail-panel">
  <div class="table-block">
    <h4>Insitution History</h4>

    <div class="row table-header">
      <div class="col-md-6 col-sm-4">Institution</div>
      <div class="col-md-2 col-sm-4">Rank</div>
      <div class="col-md-2 col-sm-2">Start Date</div>
      <div class="col-md-2 col-sm-2">End Date</div>
    </div>
    <div class="clearfix"></div>

    <div class="table-body">
      <div class="row table-row"
           ng-repeat="position in vm.record.metadata.positions">
        <div class="col-md-6 col-sm-4"
             ng-bind="position.institution.name"></div>
        <div class="col-md-2 col-sm-4"
             ng-bind="position._rank"></div>
        <div class="col-md-2 col-sm-2"
             ng-bind="position.start_date"></div>
        <div class="col-md-2 col-sm-2"
             ng-bind="position.end_date"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
