<div class="detail-panel" id="hp-panel-positions">
  <h4>Institution History</h4>
  <table class="table table-striped">
  <thead>
    <tr>
      <th class="text-muted">Institution</th>
      <th class="text-muted">Rank</th>
      <th class="text-muted">Start Date</th>
      <th class="text-muted">End Date</th>
      <th class="text-muted">Current</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="position.institution" ng-repeat="position in vm.record.metadata.positions">
      <td><div ng-bind="position.institution.name"></div></td>
      <td><div ng-bind="position._rank"></div></td>
      <td><div ng-bind="position.start_date"></div></td>
      <td><div ng-bind="position.end_date"></div></td>
      <td><div ng-bind="position.current"></div></td>
    </tr>
  </tbody>
  </table>
</div>
