<div class="decision-btn-wrapper" ng-if="vm.record._extra_data._action === 'author_approval' && vm.record._workflow.status === 'HALTED'">
  <div class="row">
    <div class="text-left col-md-12">
      <button class="btn btn-info"
              ng-click="Utils.redirect('/authors/new/review?objectid='+ vm.record.id)"
              id="btn-review-submission"><i class="fa fa-edit fa-lg"></i>Review Submission
      </button>
    </div>
  </div>
  <div class="row">
    <div class="text-left col-md-12">
      <button class="btn btn-success"
              ng-click="Utils.setDecision('accept')"
              id="btn-accept"><i class="fa fa-check-circle fa-lg"></i>Accept
      </button>
    </div>
  </div>
  <div class="row">
    <div class="text-left col-md-12">
      <button class="btn btn-warning"
              ng-click="Utils.setDecision('accept_curate')"
              id="btn-accept-curation"><i class="fa fa-plus-circle fa-lg"></i>Accept + Curation
      </button>
    </div>
  </div>
  <div class="row">
    <div class="text-left col-md-12">
      <button class="btn btn-danger"
              ng-click="Utils.setDecision('reject')"
              id="btn-reject-submission"><i class="fa fa-trash-o fa-lg"></i>Reject
      </button>
    </div>
  </div>
</div>

<div ng-if="vm.record._extra_data._action !== null || vm.ingestion_complete"
  class="text-muted">
    <span ng-class="record._extra_data.user_action"
          ng-switch="vm.record._extra_data.user_action">
      <span ng-switch-when="reject">Rejected</span>
      <span ng-switch-when="accept_curate">Accepted with Curation</span>
      <span ng-switch-when="accept">Accepted</span>
    </span>
</div>
