<div class="row">
  <div class="col-md-12">
    <div class="alert"
         ng-class="{'alert-warning': vm.record._workflow.status === 'HALTED', 'alert-danger': vm.record._workflow.status === 'ERROR', 'alert-success': vm.record._workflow.status === 'COMPLETED',
         'alert-info': vm.record._workflow.status === 'WAITING'}">

      <p ng-if="vm.record._workflow.status === 'COMPLETED'">Record ingestion
        complete.</p>
      <p ng-if="vm.record._workflow.status !== 'COMPLETED'">
        <span ng-if="vm.record._workflow.status === 'WAITING'">Waiting to run...</span>
        <span ng-if="vm.record._workflow.status === 'RUNNING'">Workflow in progress...</span>
        <span ng-repeat="item in vm.record._extra_data._task_history"
              ng-bind="item.nicename" ng-if="(vm.record._workflow.status === 'HALTED' || vm.record._workflow.status === 'ERROR') && $last"></span>
      </p>
    </div>
  </div>
</div>

<div class="row-fluid detail-section">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <div class="detail-panel">
          <h4 class="record-title"
              ng-bind="vm.record.metadata.titles[0].title"></h4>
          <ul class="record-authors">
            <li ng-repeat="author in vm.record.metadata.authors">
              <span ng-bind="author.full_name"></span><span
              ng-if="!$last">, </span>
            </li>
          </ul>
          <p class="record-abstract"
             ng-bind="vm.record.metadata.abstracts[0].value"></p>

          <div class="row">
            <div class="col-md-2 col-sm-4">
              <p class="font-bolder">License</p>
            </div>
            <div class="col-md-10 col-sm-8">
              <span ng-bind="vm.record.metadata.license[0].url"></span> <span
              class="font-bolder text-muted"
              ng-if="vm.record.metadata.license[0].imposing"> imposed by
          <span ng-bind="vm.record.metadata.license[0].imposing"></span></span>
            </div>
          </div>
        </div>
      </div>


      <!--<div class="col-md-12">-->
      <!--<div class="detail-panel">-->
      <!--<h4>Links</h4>-->

      <!--<div class="row">-->
      <!--<div-->
      <!--ng-repeat="external_system in vm.record.metadata.external_system_numbers">-->
      <!--<div class="col-md-3 col-sm-4">-->
      <!--<p class="font-bolder" ng-bind="external_system.institute"></p>-->
      <!--</div>-->
      <!--<div class="col-md-9 col-sm-8">-->
      <!--<a ng-href="Utils.get_url(external_system.value)"-->
      <!--ng-bind="external_system.value"></a>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div>-->

      <!--</div>-->
      <!--</div>-->


      <div class="clearfix"></div>


      <div class="col-md-6 col-sm-6">
        <div class="detail-panel panel-300">
          <h4>Subject Areas</h4>

          <div class="row subject-area"
               ng-repeat="subject_term in vm.record.metadata.subject_terms">
            <div class="col-md-9" ng-bind="subject_term.term"></div>
            <div class="col-md-3 text-right"><span class="scheme"
                                                   ng-bind="subject_term.scheme"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="detail-panel panel-300 keywords">
          <h4>Keywords</h4>
          <div class="keyword-list">
            <div class="row"
                 ng-repeat="keyword in vm.record._extra_data.keywords_prediction.keywords">
              <div class="col-md-8 col-sm-8 keyword-name"
                   ng-bind="keyword[0]"></div>
              <div class="col-md-2 col-sm-2 keyword-score"
                   ng-bind="keyword[1] | number : 4"></div>
              <div class="col-md-2 col-sm-2 text-left">
                <div class="onoffswitch">
                  <input type="checkbox" name="{{ keyword[0] }}"
                         class="onoffswitch-checkbox"
                         id="myonoffswitch-{{ $index }}"
                         ng-checked="keyword[1] > 0.09">
                  <label class="onoffswitch-label"
                         for="myonoffswitch-{{ $index }}"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="clearfix"></div>

      <div class="col-md-12">
        <div class="detail-panel">
          <div class="references">
            <h4>References</h4>

            <div class="row reference-header">
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-4 col-sm-4">Authors</div>
              <div class="col-md-2 col-sm-3">Journal Info</div>
              <div class="col-md-1 col-sm-1">Year</div>
              <div class="col-md-3 col-sm-2">Misc</div>
            </div>
            <div class="clearfix"></div>

            <div class="reference-body">
              <div class="row reference-row"
                   ng-repeat="reference in vm.record.metadata.references">
                <div class="col-md-1 col-sm-1"
                     ng-bind="reference.number"></div>
                <div class="col-md-4 col-sm-4"
                     ng-bind="reference.authors"></div>
                <div class="col-md-2 col-sm-3"
                     ng-bind="reference.journal_pubnote"></div>
                <div class="col-md-1 col-sm-1"
                     ng-bind="reference.year"></div>
                <div class="col-md-3 col-sm-2"
                     ng-bind="reference.misc"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-6">
        <div class="detail-panel">
          <h4>User Comments</h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="detail-panel">
          <h4>Logs</h4>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-3">

    <div class="row">

      <!--Decision Panel-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Decision</h4>

          <div class="decision">

            <p class="automatic-decision">Automatic Decision: <span
              class="reject">Reject</span></p>

            <div ng-if="vm.record._extra_data._action == 'hep_approval'">
              <button class="btn btn-danger"
                      ng-click="Utils.setDecision('reject')">Reject
              </button>
              <button class="btn btn-warning"
                      ng-click="Utils.setDecision('accept')">Accept
              </button>
              <button class="btn btn-success"
                      ng-click="Utils.setDecision('accept_core')">Core
              </button>
            </div>

            <div class="clearfix"></div>
            <br/>
            <div class="decision-keywords">
              <p>
                {{Utils.keys(vm.record._extra_data.classifier_results.complete_output['Core keywords']).length}}
                core keywords.
                {{Utils.keys(vm.record._extra_data.classifier_results.complete_output['Filtered Core keywords']).length}} Filtered:

              <div class="list">
                <div class="row"
                     ng-repeat="(key,value) in vm.record._extra_data.classifier_results.complete_output['Filtered Core keywords']">
                  <div class="col-md-9 col-sm-9 text-left"
                       ng-bind="key"></div>
                  <div class="col-md-3 col-sm-3 text-right"><span
                    class="label label-success"
                    ng-bind="value"></span>
                  </div>
                </div>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!--Submission Info-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Submission</h4>
          <p class="text-center"
             ng-if="vm.record.metadata.acquisition_source[0]">
            Harvested from <span class="font-bolder"
                                 ng-bind="vm.record.metadata.acquisition_source[0].source"></span>
              <span ng-if="vm.record.metadata.acquisition_source[0].method"> using
                <span class="font-bolder"
                      ng-bind="vm.record.metadata.acquisition_source[0].method"></span>
              </span>
          </p>
        </div>
      </div>

      <!--Notes-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Notes</h4>

          <div class="row" ng-repeat="note in vm.record.metadata.public_notes">

            <div ng-if="note.source">
              <div class="col-md-3 col-sm-4">
                <p class="font-bolder" ng-bind="note.source"></p>
              </div>
              <div class="col-md-9 col-sm-8">
                <p ng-bind="note.value"></p>
              </div>
            </div>
            <div ng-if="!note.source">
              <div class="col-md-12 text-center">
                <div
                  ng-class="{'alert': note.value == '*Temporary entry*'}">
                  <p ng-bind="note.value"></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Action Panel-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Actions</h4>

          <div class="text-center">
            <button class="btn btn-default" ng-click="Utils.showHistory()"><i
              class="fa fa-history"></i> History
            </button>

            <button class="btn btn-default"
                    ng-click="Utils.restartWorkflow()">
              <i class="fa fa-repeat" aria-hidden="true"></i> Restart
            </button>
            <button class="btn btn-default"
                    ng-click="Utils.resumeWorkflow()">
              <i class="fa fa-play" aria-hidden="true"></i> Resume
            </button>
          </div>
        </div>
      </div>

      <!--Danger area-->

    </div>
  </div>
</div>

<!--<div class="clearfix"></div>-->

<!--<div class="row-fluid detail-section"-->
<!--ng-if="vm.record.metadata.fft.length > 0">-->
<!--<div class="col-md-12">-->
<!--<div class="detail-panel">-->
<!--<div class="references">-->
<!--<h4>Plots</h4>-->

<!--<div class="row" ng-repeat="plot in vm.record.metadata.fft">-->
<!--<img src="{{plot.url}}" class="img-rounded"/>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="clearfix"></div>

<!--Danger section-->
<div class="row-fluid detail-section">
  <div class="col-md-12">

    <div class="alert alert-danger-area">
      <p class="pull-left">Danger Area</p>
      <button ng-click="Utils.deleteRecord()"
              class="btn btn-danger pull-right">
        Delete
      </button>
    </div>

  </div>
</div>

<div class="clearfix"></div>

