<div class="row">
  <div class="col-md-12">
    <div
      ng-if="vm.record._extra_data.user_action && vm.record._extra_data._action === null"
      class="alert" ng-class="'alert-' + vm.record._extra_data.user_action">

        <span ng-switch="vm.record._extra_data.user_action">
                  <span ng-switch-when="reject">Rejected</span>
                  <span ng-switch-when="accept">Accepted as Non-CORE</span>
                  <span ng-switch-when="accept_core">Accepted as CORE</span>
                </span>
    </div>

    <div ng-if="vm.workflow_flag">
      <div class="alert" ng-bind="vm.workflow_flag"></div>
    </div>


    <div class="alert"
         ng-if="vm.record._extra_data._action || vm.record._workflow.status === 'ERROR'"
         ng-class="{'alert-warning': vm.record._workflow.status === 'HALTED' && !vm.ingestion_complete,
         'alert-danger': vm.record._workflow.status === 'ERROR' && !vm.ingestion_complete,
         'alert-success': vm.record._workflow.status === 'COMPLETED' || vm.ingestion_complete,
         'alert-info': vm.record._workflow.status === 'WAITING'}">

      <p ng-if="vm.record._workflow.status === 'COMPLETED'">
        Record ingestion complete.</p>
      <p
        ng-if="vm.record._workflow.status !== 'COMPLETED' && !vm.ingestion_complete">
        <span ng-if="vm.record._workflow.status === 'WAITING'">Waiting to run...</span>
        <span ng-if="vm.record._workflow.status === 'RUNNING'">Workflow in progress...</span>
        <span ng-repeat="item in vm.record._extra_data._task_history"
              ng-if="(vm.record._workflow.status === 'HALTED' || vm.record._workflow.status === 'ERROR') && $last">
          {{vm.record._workflow.status}} on {{item.nicename}} <a href="#errors"
                                                                 ng-if="vm.record._workflow.status === 'ERROR'"
                                                                 style="color: white">View
          Stack Trace</a>
        </span>
      </p>
    </div>
  </div>
</div>

<div class="row-fluid detail-section">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <div class="detail-panel">
          <div ng-if="vm.record._workflow.data_type === 'hep'">

            <h4 class="record-title"
                ng-bind-html="vm.record.metadata.titles[0].title"
                editable-text="vm.record.metadata.titles[0].title"
                e-ng-change="Utils.registerUpdateEvent()"></h4>

            <div ng-if="vm.record.metadata.publication_info" class="text-bolder">
              <p class="text-muted">{{vm.record.metadata.publication_info[0].journal_title}}, {{vm.record.metadata.publication_info[0].year}}</p>
            </div>

            <ul class="record-authors">
              {{ limit = 10; ""}}
              <li
                ng-repeat="author in vm.record.metadata.authors | limitTo : limit">
                <span ng-if="author.full_name !== 'undefined'"
                      ng-bind="author.full_name"></span>
                <span ng-if="author.affiliations">({{author.affiliations[0].value}})</span>
                <span ng-if="!$last">;&nbsp;</span>
              </li>
              <li ng-if="vm.record.metadata.authors.length > limit">and
                {{vm.record.metadata.authors.length - limit}} others.
              </li>
            </ul>


            <p class="record-abstract"
               ng-bind-html="vm.record.metadata.abstracts[0].value"
               editable-textarea="vm.record.metadata.abstracts[0].value"
               e-ng-change="Utils.registerUpdateEvent()">
            </p>

            <div ng-if="vm.record.metadata.license" class="row">
              <div class="col-md-12">
                <span class="font-bolder">License:</span>
                <span ng-bind="vm.record.metadata.license[0].url"></span>
                <span class="font-bolder text-muted"
                ng-if="vm.record.metadata.license[0].imposing"> imposed by
                  <span ng-bind="vm.record.metadata.license[0].imposing"></span>
                </span>
              </div>
            </div>

            <div ng-if="vm.record.metadata.dois" class="row">
              <div class="col-md-12">
                <span class="font-bolder">DOI:</span>
                <span ng-repeat="doi in vm.record.metadata.dois">
                  <a href="http://dx.doi.org/{{doi.value}}" target="_new"
                     ng-bind="doi.value"></a>
                </span>

              </div>
            </div>

            <div ng-if="vm.record.metadata.report_numbers" class="row">
              <div class="col-md-12">
                <span class="font-bolder">Report Numbers:</span>
                <span ng-repeat="report_number in vm.record.metadata.report_numbers">
                  {{report_number.value}}{{$last ? '' : '; '}}
                </span>

              </div>
            </div>

            <div ng-if="vm.record.metadata.languages" class="row">
              <div class="col-md-12">
                <span class="font-bolder">Language:</span>
                <span ng-bind="vm.record.metadata.languages[0]"></span>
              </div>
            </div>

            <div ng-if="vm.record.metadata.title_translations" class="row">
              <div class="col-md-12">
                <span class="font-bolder">Title translation:</span>
                <span ng-bind="vm.record.metadata.title_translations[0].title"
                      editable-text="vm.record.metadata.title_translations[0].title"
                      e-ng-change="Utils.registerUpdateEvent()"
                ></span>
              </div>
            </div>

            <div ng-if="vm.record.metadata.collaborations" class="row">
              <div class="col-md-12">
                <span class="font-bolder">Collaboration:</span>
                <span ng-bind="vm.record.metadata.collaborations[0].value"
                      editable-text="vm.record.metadata.collaborations[0].value"
                      e-ng-change="Utils.registerUpdateEvent()"
                ></span>
              </div>
            </div>

            <div ng-if="vm.record.metadata.accelerator_experiments" class="row">
              <div class="col-md-12">
                <span class="font-bolder">Experiment:</span>
                <span ng-bind="vm.record.metadata.accelerator_experiments[0].legacy_name"
                      editable-text="vm.record.metadata.accelerator_experiments[0].legacy_name"
                      e-ng-change="Utils.registerUpdateEvent()"
                ></span>
              </div>
            </div>

          </div>

          <div ng-if="vm.record._workflow.data_type === 'authors'">

            <h4 class="record-title"
                ng-bind="vm.record.metadata.name.value"
                editable-text="vm.record.metadata.name.value"
                e-ng-change="Utils.registerUpdateEvent()"></h4>

            <p class="advisors" ng-if="vm.record.metadata.name.preferred_name">
              <span class="text-muted">Preferred name:</span>
              <span ng-bind="vm.record.metadata.name.preferred_name"
                    editable-text="vm.record.metadata.name.preferred_name"
                    e-ng-change="Utils.registerUpdateEvent()"></span>
              <br>
              <span class="text-muted" ng-if="vm.record.metadata.native_name">Native name:</span>
              <span ng-if="vm.record.metadata.native_name" ng-bind="vm.record.metadata.native_name"
                    editable-text="vm.record.metadata.native_name"
                    e-ng-change="Utils.registerUpdateEvent()"></span>
              <br ng-if="vm.record.metadata.native_name">

              <div ng-repeat="position in vm.record.metadata.positions">
              <span ng-if="position.emails.length" class="text-muted">Email address:</span>
              <span ng-repeat="email in position.emails">
              <span ng-bind="email"></span>
              </span>
              </div>

              <span class="text-muted">Status:</span>
              <span ng-bind="vm.record.metadata.status"></span>
              <br ng-if="vm.record.metadata.status">

              <span class="text-muted">ORCID:</span>
              <span ng-bind="vm.record.metadata.ids[0].value"></span>

              <div ng-repeat="experiment in vm.record.metadata.experiments">
              <span class="text-muted">Experiment:</span>
              <span ng-bind="experiment.name"
                    editable-text="experiment.name"
                    e-ng-change="Utils.registerUpdateEvent()"></span>
              <span class="text-muted"> - From:</span>
              <span ng-bind="experiment.start_year"
                    editable-text="experiment.start_year"
                    e-ng-change="Utils.registerUpdateEvent()"></span>
              <span class="text-muted">To:</span>
              <span ng-bind="experiment.end_year"
                    editable-text="experiment.end_year"
                    e-ng-change="Utils.registerUpdateEvent()"></span>
              <br>
              </div>

            </p>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_links.html">
        </holding-pen-template-handler>
      </div>

      <div class="col-md-6 col-sm-6"
           ng-if="vm.record._workflow.data_type == 'hep'">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_subject_areas.html">
        </holding-pen-template-handler>
      </div>

      <div class="col-md-6 col-sm-6"
           ng-if="vm.record._workflow.data_type == 'authors'">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_subject_areas.html">
        </holding-pen-template-handler>
      </div>

      <div class="col-md-6 col-sm-6"
           ng-if="vm.record._workflow.data_type == 'authors'">
        <div class="detail-panel panel-300">
          <h4>Advisors</h4>

          <div class="advisors">
            <div class="row"
                 ng-repeat="advisor in vm.record.metadata.advisors">
              <div class="col-md-6 col-sm-6" ng-bind="advisor.name"
                   editable-text="advisor.name"
                   e-ng-change="Utils.registerUpdateEvent()"></div>
              <div class="col-md-6 col-sm-6"
                   ng-bind="advisor.degree_type"
                   editable-select="advisor.degree_type"
                   e-ng-change="Utils.registerUpdateEvent()"
                   e-ng-options="degree_type.value as degree_type.text for degree_type in degree_types"></div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-6"
           ng-if="vm.record._workflow.data_type == 'hep'">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_keywords.html">
        </holding-pen-template-handler>
      </div>

      <div class="clearfix"></div>

      <div class="col-md-12"
           ng-if="vm.record._workflow.data_type == 'authors'">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_positions.html">
        </holding-pen-template-handler>
      </div>

      <div class="col-md-12" ng-if="vm.record._workflow.data_type == 'hep'">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_references.html">
        </holding-pen-template-handler>
      </div>

      <div class="clearfix"></div>


      <div class="col-md-12" id="errors"
           ng-if="vm.record._extra_data._error_msg">
        <holding-pen-template-handler
          template="/static/js/inspire_workflows_ui/templates/details_errors.html">
        </holding-pen-template-handler>
      </div>
    </div>

  </div>

  <div class="col-md-3">

    <div class="row">

      <div id="save-panel" class="col-md-12 text-center"
           ng-if="vm.update_ready || vm.saved">
        <div class="detail-panel">

          <div id="hp-save" ng-if="vm.update_ready">
            <button class="btn btn-success btn-lg"
                    ng-if="vm.record._workflow.status === 'HALTED'"
                    ng-click="Utils.updateRecord()">
              Save changes
            </button>
            <button class="btn btn-success btn-lg"
                    ng-if="vm.record._workflow.status !== 'HALTED'"
                    disabled>
              Can't save until state changes, try refreshing.
            </button>
          </div>

          <p class="accept_core font-bolder" ng-if="vm.saved">
            Your changes have been saved!</p>
        </div>
      </div>


      <!--Osion Panel-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Decision</h4>

          <div class="decision">
            <div ng-if="vm.record._workflow.data_type === 'hep'">
              <holding-pen-template-handler
                template="/static/js/inspire_workflows_ui/templates/details_decision_hep.html">
              </holding-pen-template-handler>
            </div>

            <div ng-if="vm.record._workflow.data_type === 'authors'">
              <holding-pen-template-handler
                template="/static/js/inspire_workflows_ui/templates/details_decision_authors.html">
              </holding-pen-template-handler>
            </div>
          </div>
        </div>
      </div>


      <!--Submission Info-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Submission</h4>
          <p class="text-center" ng-if="vm.record.metadata.acquisition_source">
            <span ng-switch="vm.record.metadata.acquisition_source.method">
              <span ng-switch-when="submitter">
                Submitted by {{vm.record.metadata.acquisition_source.email}}<br/> on {{vm.record.metadata.acquisition_source.date}}
              </span>
              <span ng-switch-default>
                Harvested on <span class="font-bolder"
                                   ng-bind="vm.record.metadata.acquisition_source.date"></span> from
                <span class="font-bolder"
                      ng-bind="vm.record.metadata.acquisition_source.source"></span> using
                <span class="font-bolder"
                      ng-bind="vm.record.metadata.acquisition_source.method"></span>
              </span>
            </span>
          </p>
        </div>
      </div>

      <!--Notes-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Notes</h4>

          <div class="row">
              <div class="col-md-12 text-center">
                <div ng-repeat="note in vm.record.metadata._private_notes">
                <span
                  ng-class="{'alert': note.value == '*Temporary entry*'}">
                  <p ng-bind="note.value"></p></span>
                </div>
              </div>
          </div>
        </div>
      </div>

      <!--Action Panel-->
      <div class="col-md-12">
        <div class="detail-panel">
          <h4>Actions</h4>

          <div class="text-center" ng-if="vm.record._workflow.status==='COMPLETED'">
            <p class="text-muted">Workflow completed, no further actions available</p>
          </div>

          <div class="text-center" ng-if="vm.record._workflow.status!=='COMPLETED'">
            <button class="btn btn-default"
              ng-click="Utils.restartWorkflow()">
            <i class="fa fa-repeat" aria-hidden="true"></i> Restart
            </button>
            <button class="btn btn-info"
                    ng-if="vm.record._workflow.status === 'HALTED'"
                    ng-click="Utils.redirect('/editor/holdingpen/' + vm.record.id)">
              <i class="fa fa-pencil" aria-hidden="true"></i> Open in Editor
            </button>
            <button class="btn btn-default"
                    ng-if="vm.record._workflow.status !== 'HALTED'"
                    ng-click="Utils.resumeWorkflow()">
              <i class="fa fa-play" aria-hidden="true"></i> Resume
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="clearfix"></div>
<!--Danger section-->
<div class="row-fluid detail-section">
  <div class="col-md-12">

    <div class="alert alert-danger-area">
      <p class="pull-left">Danger Area</p>
      <button ng-click="Utils.deleteRecord()"
              class="btn btn-danger pull-right">
        Delete
      </button>
    </div>

  </div>
</div>

<div class="clearfix"></div>
