interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0001-7102-4649/works
  response:
    body: {string: !!python/unicode
      '{
        "path": "/0000-0001-7102-4649/works",
        "group": [
          {
            "work-summary": [
              {
                "put-code": 912981,
                "title": {
                  "translated-title": null,
                  "subtitle": null,
                  "title": {
                    "value": "Partial Symmetries of Weak Interactions"
                  }
                },
                "last-modified-date": {
                  "value": 1519143190177
                },
                "external-ids": {
                  "external-id": [
                    {
                      "external-id-value": "10.1016/0029-5582(61)90469-2",
                      "external-id-relationship": "SELF",
                      "external-id-url": {
                        "value": "http://dx.doi.org/10.1016/0029-5582(61)90469-2"
                      },
                      "external-id-type": "doi"
                    }
                  ]
                },
                "created-date": {
                  "value": 1508427576466
                },
                "visibility": "PUBLIC",
                "source": {
                  "source-orcid": {
                    "path": "0000-0001-7102-4649",
                    "host": "sandbox.orcid.org",
                    "uri": "http://sandbox.orcid.org/0000-0001-7102-4649"
                  },
                  "source-name": {
                    "value": "inspire010"
                  },
                  "source-client-id": null
                },
                "publication-date": {
                  "month": null,
                  "day": null,
                  "media-type": null,
                  "year": {
                    "value": "1961"
                  }
                },
                "display-index": "1",
                "path": "/0000-0001-7102-4649/work/912981",
                "type": "JOURNAL_ARTICLE"
              },
              {
                "put-code": 912978,
                "title": {
                  "translated-title": null,
                  "subtitle": null,
                  "title": {
                    "value": "Partial Symmetries of Weak Interactions"
                  }
                },
                "last-modified-date": {
                  "value": 1519143190177
                },
                "external-ids": {
                  "external-id":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.orcid.org/v2.0/0000-0001-7102-4649/works/912978,912977
  response:
    body: {string: !!python/unicode
    '{
      "bulk": [
        {
          "work": {
            "language-code": null,
            "put-code": 912978,
            "contributors": {
              "contributor": [
                {
                  "contributor-orcid": null,
                  "contributor-attributes": {
                    "contributor-role": "AUTHOR",
                    "contributor-sequence": "FIRST"
                  },
                  "credit-name": {
                    "value": "Glashow, S.L."
                  },
                  "contributor-email": null
                }
              ]
            },
            "title": {
              "translated-title": null,
              "subtitle": null,
              "title": {
                "value": "Partial Symmetries of Weak Interactions"
              }
            },
            "url": {
              "value": "http://labs.inspirehep.net/record/4328"
            },
            "external-ids": {
              "external-id": [
                {
                  "external-id-value": "10.1016/0029-5582(61)90469-2",
                  "external-id-relationship": "SELF",
                  "external-id-url": {
                    "value": "http://dx.doi.org/10.1016/0029-5582(61)90469-2"
                  },
                  "external-id-type": "doi"
                }
              ]
            },
            "last-modified-date": {
              "value": 1519143190177
            },
            "citation": {
              "citation-type": "BIBTEX",
              "citation-value": "@article{Glashow:1961tr,\n    author = \"Glashow, S.L.\",\n    journal = \"Nucl.Phys.\",\n    volume = \"22\",\n    pages = \"579--588\",\n    doi = \"10.1016/0029-5582(61)90469-2\",\n    title = \"Partial Symmetries of Weak Interactions\",\n    year = \"1961\"\n}\n"
            },
            "created-date": {
              "value": 1516716146242
            },
            "visibility": "PUBLIC",
            "source": {
              "source-orcid": null,
              "source-name": {
                "value": "INSPIRE-PROFILE-PUSH"
              },
              "source-client-id": {
                "path": "CHANGE_ME",
                "host": "sandbox.orcid.org",
                "uri": "http://sandbox.orcid.org/client/CHANGE_ME"
              }
            },
            "publication-date": {
              "month": null,
              "day": null,
              "media-type": null,
              "year": {
                "value": "1961"
              }
            },
            "journal-title": {
              "value": "Nucl.Phys."
            },
            "country": null,
            "path": null,
            "short-description": null,
            "type": "JOURNAL_ARTICLE"
          }
        },
        {
          "work": {
            "language-code": null,
            "put-code": 912977,
            "contributors": {
              "contributor": [
                {
                  "contributor-orcid": null,
                  "contributor-attributes": {
                    "contributor-role": "AUTHOR",
                    "contributor-sequence": "FIRST"
                  },
                  "credit-name": {
       [...]
