<ul class="statuses">
  {% for status_item in status_items %}
  <li>
    <a href='/holdingpen/list/?workflow_name={{status_item.type}}&status={{status_item.name}}'>
      <div class="row-fluid {{status_item.color}}">
        <div class="col-md-1 col-sm-1">
          <i class="fa {{status_item.icon}}"></i>
        </div>
        <div class="col-md-8 col-sm-8">
          {{status_item.name}}
        </div>
        <div class="col-md-2 col-sm-2">
          {{status_item.count}}
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
