{{!
  This file is part of INSPIRE.
  Copyright (C) 2015, 2016 CERN.

  INSPIRE is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License as
  published by the Free Software Foundation; either version 2 of the
  License, or (at your option) any later version.

  INSPIRE is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with INSPIRE; if not, write to the Free Software Foundation, Inc.,
  59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
}}
<div class="modal fade in" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalTitle" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="feedbackModalHeader" class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
	  <span class="sr-only">{{close}}</span>
        </button>
	<h4 class="modal-title" id="feedbackModalTitle">{{title}}</h4>
      </div>
      <form id="feedbackModalForm">
        <div class="modal-body">
          <div id="feedbackModalError"></div>
          <div id="feedbackModalEmail"></div>
          <div class="form-group">
            <label for="feedbackModalFeedback" class="control-label required">{{label}}</label>
            <textarea id="feedbackModalFeedback" class="form-control"></textarea>
            <p class="text-muted">{{{clarification}}}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-warning">
            {{button}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
