name: Pull request master

on:
  pull_request_target:
    branches: [master]

jobs:
  test:
    uses: ./.github/workflows/backend-tests-on-docker.yml
    with:
      ref: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
